---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <h1>Augusto</h1>
</BaseLayout>
